<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
</head>
<style>
    span.err{
        color: red;
    }
</style>
<body>
<span class="err"><%=errMsg.loginErr%></span>
<span class="err"><%=errMsg.netErr%></span>
<form action="http://localhost:3000/login" method="post">
    邮箱：<input type="email" name="email" value="<%=errMsg.email%>"><span class="err"><%=errMsg.emailErr%></span><br><br>
    密码：<input type="password" name="password" value="<%=errMsg.password%>"><span class="err"><%=errMsg.passwordErr%></span><br><br>
    <input type="submit">
</form>
</body>
</html>